<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (loginUser) { %>
      <h2>Hi <%= loginUser.name %>!! You are now logged in.</h2>
      <p><a href="/logout">ログアウト</a></p>
      <hr>
    <% } %>
    <% if (!loginUser) { %>
      <p><a href="/login">ログイン</a></p>
      <hr>
    <% } %>
    <h1>ユーザーリスト</h1>
    <% for(var i = 0; i < tweets.length; i++) { %>
      <p><%= tweets[i].user_id %></p>
      <p><%= tweets[i].tweet %></p>
      <hr>
    <% } %>

    <form action="/tweet" method="POST">
      <p>tweet: <input type="text" name="tweet"></p>
      <button type="submit">つぶやく</button>
    </form>
    
  </body>
</html>
