<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>ユーザーリスト</h1>
    <% for(var i = 0; i < users.length; i++) { %>
    <p><%= users[i].id %></p>
    <p><%= users[i].name %></p>
    <hr>
    <% } %>

    <form action="/create" method="POST">
      <p>name: <input type="text" name="name"></p>
      <p>password: <input type="password" name="password"></p>
      <p>email: <input type="text" name="email"></p>
      <button type="submit">Create User</button>
    </form>
    
  </body>
</html>
